/* BUTTON.STYL ======================================= */

body
    width: 100vw
    height: 100vh
    flexbox()
    justify-content: center
    align-items: center
    background: #666


// Ripple Effect =====================
button
    position: relative
    overflow: hidden

button:after
    content: ''
    position: absolute
    top: 50%
    left: 50%
    width: 5px
    height: 5px
    background: rgba(0, 0, 0, .1)
    opacity: 0
    border-radius: 100%
    transform: scale(1, 1) translate(-50%)
    transform-origin: 50% 50%


@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

button:focus:not(:active)::after
    animation: ripple 1s ease-out




// Keyboard layout =====================
.keyboard-plugin
    flexbox()
    flex-flow: row nowrap
    align-items: center
    justify-content: space-around
    background: #fff

    position: absolute
    bottom: 0
    left: 0
    right: 0

    width: 100%
    max-width: 600px
    height: 50px
    border-top: 2px solid #dadada
    noselect()


    .keyboard-spacer
        width: 2px
        height: 70%
        background: #D9D9D9

    .keyboard-item
        width: 35px
        height: 35px
        border-radius(5px)
        flexbox()
        justify-content: center
        align-items: center
        overflow: hidden
        noselect()

        &.toggled
            background: rgba(0, 0, 0, .1)

        &.undo,
        &.redo
            svg
                width: 16px
                height: 16px

        &.tab
            svg
                width: 12px
                height: 12px


    #tab svg
        width: 12px
        height: 12px

    #shift svg
        width: 12px
        height: 12px

    #ctrl svg
        width: 26px
        height: 26px

    #alt svg
        width: 20px
        height: 20px

    #paste svg
        width: 16px
        height: 16px

    #up svg
        width: 14px
        height: 14px

    #down svg
        width: 14px
        height: 14px

    #left svg
        width: 14px
        height: 14px

    #right svg
        width: 14px
        height: 14px





    .keyboard-item.special
        overflow: visible

        &.pressed
            background: rgba(0, 0, 0, .1)

        &.pressed .pressed-wrap
            display: flex !important

        svg
            width: 30px
            height: 30px


        // Pressed wrap =====================
        .pressed-wrap
            display: none
            background: #eceff1
            width: 100px
            height: 100px
            position: absolute
            margin-top: -80px
            box-shadow(0 0 10px colorBlack03)
            border-radius(2px)
            noselect()
            z-index: 10

            &.pressed
                display: flex
                flexbox()


            .pressed-item
                position: absolute
                font-size: 20px
                font-weight: 900
                color: #757575
                font-family: Arial, Helvetica, sans-serif
                transition(.2s)
                width: 40px
                height: 40px
                flexbox()
                justify-content: center
                align-items: center
                noselect()

                &:hover,
                &.selected
                    background: rgba(0, 0, 0, .1)
                    border-radius(2px)

                &:nth-child(1)
                    top: 0
                    left: 0

                &:nth-child(2)
                    top: 0
                    right: 0

                &:nth-child(3)
                    top: 30px
                    left: 30px

                &:nth-child(4)
                    bottom: 0
                    left: 0

                &:nth-child(5)
                    bottom: 0
                    right: 0