/* VARIABLES.STYL ======================================= */

/* Default Font */
font1 = 'Roboto', sans-serif


/* FONT SIZES ======================================= */
fontSize1 = 21px
fontSize2 = 18px

fontH1 = 56px
fontH3 = 21px

fontJumbo = 64px
fontTextbox = 38px
fontTextboxSmall = 21px
fontNumber = 21px

fontButton = 18px

fontGraySmall = 15px

fontInput = 21px




/* SHADOWS ======================================= */

shadowLvl1 = 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24) 
shadowLvl2 = 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23)
shadowLvl3 = 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23)
shadowLvl4 = 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22)
shadowLvl4top = 0 -14px 28px rgba(0, 0, 0, .25), 0 -10px 10px rgba(0, 0, 0, .22)
shadowLvl5 = 0 19px 38px rgba(0, 0, 0, .30), 0 15px 12px rgba(0, 0, 0, .22)


